<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:context="http://www.springframework.org/schema/context"
     xmlns:task="http://www.springframework.org/schema/task"
     xmlns:cache="http://www.springframework.org/schema/cache"
     xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/task
         http://www.springframework.org/schema/task/spring-task.xsd
         http://www.springframework.org/schema/cache
         http://www.springframework.org/schema/cache/spring-cache.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd">
         
       <context:property-placeholder location="classpath:common.properties"/> 
       
       <bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
			<property name="corePoolSize" value="${task.core_pool_size}" />
			<property name="maxPoolSize" value="${task.max_pool_size}" />
			<property name="queueCapacity" value="${task.queue_capacity}" />
			<property name="keepAliveSeconds" value="${task.keep_alive_seconds}" />
	   </bean>
       
       <context:property-placeholder location="classpath:common.properties"/>
       
       <task:annotation-driven/>
       
       <cache:annotation-driven cache-manager="cacheManager"/>
       
		<bean id="ehCacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
			<property name="configLocation" value="classpath:ehcache.xml" />
			<property name="shared" value="true" />
		</bean>
	
		<bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
			<property name="cacheManager" ref="ehCacheManager" />
		</bean>
		
		<!-- 国际化资源文件 -->
	    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		 	<property name="cacheSeconds" value="${message.cache_seconds}" />
			<property name="useCodeAsDefaultMessage" value="true" />
			<property name="basenames">
				<list>
					<value>${message.common_path}</value>
					<value>${message.admin_path}</value>
				</list>
 			</property>
	    </bean>
	   
	    <!-- 指定国际化编码UTF-8 -->
		<bean id="localeResolver" class="org.springframework.web.servlet.i18n.FixedLocaleResolver">
			<property name="defaultLocale" value="${locale}" />
		</bean>
		
</beans>